<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="source.org.url" value="http://server/org_unique_name/XRMServices/2011/Organization.svc"/>
    <add key="source.username" value=""/>
    <add key="source.password" value=""/>
    <add key="source.domain" value=""/>

    <add key="destination.org.url" value="http://server/org_unique_name/XRMServices/2011/Organization.svc"/>
    <add key="destination.username" value=""/>
    <add key="destination.password" value=""/>
    <add key="destination.domain" value=""/>
  </appSettings>
</configuration>
